{% extends "webshopApp/base.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Item name</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% if comments %}
        {% for comment in comments %}
        <tr>
            <td>{{comment.item.name}}</td>
            <td>{{comment.comment}}</td>
            <form method="post" action="{% url 'admin' %}">
                {% csrf_token %}
                    <td hidden><input name="comment_id" value={{comment.id}} required></td>
                    <td><input type="submit" name="Approve" value="Approve comment"></td>
                    <td><input type="submit" name="Delete" value="Delete comment"></td>
            </form>
        </tr>
        {% endfor %}
        {% else %}
        <p>No comment to approve.</p>
        {% endif %}
    </tbody>
</table>



{% endblock %}